.candidate-modal__score {
  /* TODO: Use a font style class */
  font-size: 14px;
  line-height: 150%;
  font-weight: 700;
  text-align: center;
  color: var(--text-primary);
  margin: 4px 0 0;
}

/* Scaled "bar graph" to visual match percentage */
.candidate-modal__score-visual {
  height: 4px;
  border-radius: 19px;
  margin-top: 4px;
  background: var(--gray-10);
  margin-right: auto;
}

.candidate-modal__name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
